<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddPlaylist</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Add new playlist</h1>
        <form class="form" action="/playlists" method="post">
            <label for="playlistName">Playlist name:</label>
            <input type="text" name="playlistName" id="playlistName" placeholder="Name of the playlist">

            <label for="playlistLink">Playlist link:</label>
            <input type="text" name="playlistLink" id="playlistLink" placeholder="Playlist link">
            
            <label for="playlistType">Select type:</label>
            <select name="playlistType" id="playlistType">
                <% for(let type of types){ %>
                    <option value='<%= type  %>'><%= type %></option>
                <% } %>
            </select>
            <button class="btn1-sbmt">Submit</button>
        </form>
        
        <a href='/playlists'><button class="btn1">All playlists</button></a>
    </div>
</body>
</html>